.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-center {
    width: 180px;
    height: 45px;
    position: absolute;
  }
  
  .cust-btn {
    width: 180px;
    height: 45px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #d6d2af;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  .cust-btn svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .cust-btn:hover {
    transition: 1s ease-in-out;
    background: #ceca7e;
  }
  
  .cust-btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .cust-btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Cinzel',sans-serif;
    text-transform: uppercase;
  }