.p2-image {
    transform: scaleX(-1);
}

.board-middle {
  width: 60%;
}

.board-sides {
  width: 25%;
}

.gameboard-middle {
  width: 100%;
  height: 75%;
}

.dice {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid;
  margin-bottom: 50px;
}

.defeated {
  opacity: 0.5;
}

.p2-image, .p1-image {
    border: 4px solid gold;
}

.image-wrapper {
    position: relative;
}

.game {
  font-size: 30px;
  margin: 0px;
  padding-top: 10px;
  text-align: center;
}

.spacer {
  margin: 35px 0px;
}

.spacer-top {
  margin-top: 10px;
}

.timer {
  font-size: 30px;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
}

.game-bg {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(2);
  z-index: -1;
  opacity: 0.8;
}

.slash {
    background: linear-gradient(45deg,transparent 25%, gray 100%);
    height: 8px;
    width: 500px;
    border-radius: 50%;
    opacity: 0.85;
    transform: rotate(45deg);
    animation: slashing 1s linear;
    animation-fill-mode: forwards;
}

@keyframes slashing {
    0% {
      background: linear-gradient(45deg,red,transparent 50%);
    }
    7% {
      background: linear-gradient(45deg,red 50%,transparent 75%);
    }
    14% {
      background: linear-gradient(45deg,transparent, white 100%);
    }
    21% {
      background: linear-gradient(45deg,transparent 25%, gray 100%);
    }
    100% {
      opacity: 0;
      background: linear-gradient(45deg,transparent 25%, gray 100%);
    }
  }