.playing-card-container {
    width: 240px;
    height: 336px;
    position: relative;
    transition: 0.33s ease;
}

.playing-card-container.small, .playing-card-container.small-none {
    width: 120px;
    height: 168px;
    position: absolute;
    transition: 0.33s ease;
}

.playing-card-container.small.deck {
    width: 120px;
    height: 168px;
    position: absolute;
    transition: 0.33s ease;
    box-shadow: 0px 1px 8px black;
}

.playing-card-container.small:hover {
    cursor: pointer;
    transform: scale(1.5);
    animation: glow 3s infinite ease;
    bottom: 0;
    z-index: 100;
}

.playing-card-container.small.minimal:hover {
    cursor: pointer;
    transform: none;
    animation: none;
    bottom: auto;
    box-shadow: 0px 2px 8px white;
}

.playing-card-container.small-none:hover {
    cursor: pointer;
    box-shadow: 0px 2px 8px white;
}

/* CARD BASES */
.card-base-back {
    background-image: url('../assets//cards/degen age card back.jpg');
    background-size: contain;
}
/* .card-base-blood {
    background-image: url('../assets//cards/card-base-blood.jpg');
    background-size: contain;
}
.card-base-default {
    background-image: url('../assets//cards/card-base-default.jpg');
    background-size: contain;
}
.card-base-gold {
    background-image: url('../assets//cards/card-base-gold.jpg');
    background-size: contain;
}
.card-base-legend {
    background-image: url('../assets//cards/card-base-legend.jpg');
    background-size: contain;
}
.card-base-vintage {
    background-image: url('../assets//cards/card-base-vintage.jpg');
    background-size: contain;
} */

.playing-card-wrapper {
    position: relative;
    height: 100%;
}

.playing-card-wrapper.small {
    position: relative;
    height: 100%;
}

.playing-card-lvl {
    position: absolute;
    top: 4px;
    right: 0;
    z-index: 20;
    color: white;
    padding: 12px;
    font-size: 12px;
}

.playing-card-lvl.small {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 20;
    color: white;
    padding: 2px;
    font-size: 9px;
}

.playing-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.playing-card-overlay.small {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 120px;
    height: 168px;
}

.card-details {
    z-index: 20;
    position: absolute;
    padding: 0px 10px 0px 10px;
}

.card-details.small {
    padding: 0px 5px 0px 5px;
}

.card-details p {
    margin: 0;
    font-size: 12px;
    line-height: normal;
    text-align: center;
}

.card-details.small p {
    font-size: 6px;
    color: black;
}

.card-img {
    width: 300px;
    height: 300px;
}

.bottom-card-1-left {
    transform: rotate(-20deg);
    left: 30px;
    bottom: -105px;
}

.bottom-card-2-left {
    transform: rotate(-8deg);
    left: 88px;
}

.bottom-card-1-center {
    bottom: -75px;
}

.bottom-card-1-right {
    transform: rotate(8deg);
    right: 88px;
    z-index: 20;
}

.bottom-card-2-right {
    transform: rotate(20deg);
    right: 30px;
    z-index: 30;
    bottom: -105px;
}

.top-card-1-left {
    transform: rotate(20deg);
    left: 30px;
    top: -125px;
}

.top-card-2-left {
    transform: rotate(8deg);
    left: 88px;
    bottom: -64px;
}

.top-card-1-center {
    bottom: -75px;
}

.top-card-1-right {
    transform: rotate(-8deg);
    right: 88px;
    top: -105px;
    z-index: 20;
}

.top-card-2-right {
    transform: rotate(-20deg);
    right: 30px;
    z-index: 30;
    bottom: -40px;
}

#card-left {
    position: absolute;
    top: 14px;
    left: -25px;
    z-index: 100;
    transform: rotate(-12deg);
    transition: 0.33s ease;
    transition-property: transform;
}

#card-middle {
    position: absolute;
    top: 0;
    z-index: 200;
    left: 20%;
    transition: 0.33s ease;
    transition-property: transform;
}

#card-right {
    position: absolute;
    top: 24px;
    right: -25px;
    z-index: 300;
    transform: rotate(12deg);
    transition: 0.33s ease;
    transition-property: transform;
}

#card-right:hover, #card-middle:hover, #card-left:hover {
    cursor: pointer;
    transform: scale(1.05);
    z-index: 500;
}

@keyframes glow {
    0%{
        box-shadow: 0px 2px 8px dodgerblue;
    }
    50% {
        box-shadow: 0px 2px 15px blueviolet;
    }
    100%{
        box-shadow: 0px 2px 8px dodgerblue;
    }
}