.App {
  text-align: center;
}

.App p{
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.parallax-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.accent {
  color: wheat;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 0.75s ease-out;
  will-change: opacity, visibility;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 0.5s ease-out;
  transition-delay: 0.5s;
  will-change: opacity, visibility;
}

.fade-in-bottom {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 0.5s ease-out;
  transition-delay: 1s;
  will-change: opacity, visibility;
}

.fade-in-section-x {
  opacity: 0;
  transform: translateX(-10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible, .fade-in-section-x.is-visible, .fade-in-bottom.is-visible, .fade-in-left.is-visible, .fade-in-right.is-visible, .ease-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.ease-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease-out;
  will-change: opacity, visibility;
}

.section-background {
  background: radial-gradient(closest-side,rgba(255,255,255,0.2),black 88%);
  padding: 26px;
}

.section {
  margin-bottom: 80px;
}

.hero-tab {
  margin-right: 20px;
  color: rgba(255,255,255,0.54);
}

.hero-tab:hover{
  cursor: pointer;
}

.active-tab {
  border-bottom: 1px solid white;
  color: white;
}

.section-small {
  margin-bottom: 24px;
}

.section-large {
}

.primary-section {
  color: rgb(255,255,255);
  padding: 26px;
}

.parallax-group {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nft-img-side {
  width: 85%;
  box-shadow: 0px 2px 10px rgb(0,0,0);
}

.nft-img-front {
  width: 120%;
  box-shadow: 0px 2px 10px rgb(0,0,0);
}

.glow {
  animation: glow 4s infinite linear;
}

@keyframes glow {
  0% {
    box-shadow: 0px 2px 16px rgb(119, 114, 103);
  }
  50% {
    box-shadow: 0px 2px 28px wheat;
  }
  100% {
    box-shadow: 0px 2px 16px rgb(119, 114, 103);
  }
}

.divider {
  width: 100%;
  border: 1px solid wheat;
}

.utility-section, .utility-section-inverted {
  text-align: left;
  margin: 80px 0px;
}

.flex-grow {
  flex: 1 1 33%;
}

.flex-just-around {
  display: flex;
  justify-content: space-around;
}

.flex {
  display: flex;
}

.flex-align-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-just-between {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-just-even {
  display: flex;
  justify-content: space-evenly;
}

.flex-just-end {
  display: flex;
  justify-content: flex-end;
}

.flex-just-start {
  display: flex;
  justify-content: flex-start;
}

.flex-just-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.gradient-text {
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  color: transparent;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center !important;
}

.spacing-medium {
  padding: 120px 0px;
}

.spacing-small {
  padding: 20px;
}

.spacing-medium-bot {
  padding: 16px 0px 0px 0px;
}

.video-container {
  width: 90%;
  margin: auto;
  margin-bottom: 120px;
  box-shadow: 0px -8px 14px black;
}

.float {
  animation: float 4s infinite linear;
}

.float-slow {
  animation: float 8s infinite ease-in-out;
}

.float-medium {
  animation: float 6s infinite linear;
}

.float-small {
  animation: float-small 4s infinite ease-in-out;
}

.float-small-delayed {
  animation: float-small 4s infinite ease-in-out;
  animation-delay: 1s;
}

.cracked {  
  position: relative;
  width: 500px;
  height: 500px;
  perspective: 100vw;
}

.cracked::before, .cracked::after {
  content: '';
  position: absolute;
  background-image: url('./assets/degen age title GNW skull.png');
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.cracked::before {
  clip-path: polygon(26% 0, 76% 100%, 0 100%, 0 0);
  z-index: 1;
  animation: 
    square-left 6s cubic-bezier(0.165, 0.84, 0.44, 1) infinite,
    fade-out 6s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.cracked::after {
  clip-path: polygon(100% 0, 100% 100%, 75% 100%, 25% 0);
  z-index: 6;
  animation:
    square-right 6s cubic-bezier(0.165, 0.84, 0.44, 1) infinite,
    fade-out 6s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

@keyframes square-left {
  26% { transform: translateX(0); }
  100% { transform: translate(-5%, -5%) rotate(-1deg); }
}

@keyframes square-right {
  26% { transform: translateX(0); }
  100% { transform: translate(5%, 5%) rotate(2deg); }
}

@keyframes fade-out {
  88% { opacity: 1; }
  94%, 100% { opacity: 0; }
}

.MuiTouchRipple-rippleVisible {
  color: rgb(245,222,179) !important;
  animation-duration: 1500ms !important;
}

.fade-in-slow {
  animation: fade-in-slow 3s ease-in;
}

.fade-in-slow2 {
  animation: fade-in-slow 2s ease-in;
  animation-delay: 3.1s;
}

.hit-marker-container {
  position: absolute;
  top: 15%;
  left: 50%;
}

.hit-marker-container-left {
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 100;
}

.slash-wrapper, .defeat-wrapper, .ready-wrapper {
  position: absolute;
  top: 50%;
  z-index: 100;
}

.ready-wrapper {
  position: absolute;
  top: 50%;
  left: 8%;
  z-index: 100;
}

.block-wrapper {
  position: absolute;
  top: 25%;
  right: 25%;
  z-index: 100;
}

.ready-wrapper h2 {
  color: wheat;
  font-size: 100px;
  margin: 0;
}

.defeat-wrapper h2 {
  display: none;
  color: red;
  font-size: 100px;
  margin: 0;
  transform: rotate(-45deg);
}

.hit-marker-container-right {
  position: absolute;
  top: 30%;
  right: 25%;
  z-index: 100;
}

.stats-container-left {
  position: absolute;
  top: 0;
  left: 0;
}

.stats-container-right {
  position: absolute;
  top: 0;
  right: 0;
}

.block-icon {
  color: rgba(255,255,255,0.92) !important;
  font-size: 200px !important;
}

.marker-visible {
  animation: hit-marker 1.25s ease-in;
}

.primary-white {
  background-color: rgb(255,255,255) !important;
  color: rgb(0,0,0) !important;
  border-radius: 22px !important;
}

.primary-wheat {
  background-color: #f5deb3 !important;
  color: white !important;
  border-radius: 22px !important;
}

.primary-white:hover {
  background-color: rgba(255,255,255,0.84) !important;
  box-shadow: 0px 0px 10px rgb(255, 255, 255) !important;
}

.primary-wheat:hover {
  background-color: rgb(231, 210, 170) !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0,0.52) !important;
}

.game-log {
  width: 100%;
  height: 250px;
  border: none;
  color: white;
  background: transparent;
  resize: none;
}

.log-wrapper {
  position: relative;
}

.nft-container {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nft-container:hover .nft-wrapper {
  transform: rotateY(180deg);
}

.nft-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-back {
  /* position: relative; */
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

/* .card-back::before {
  content: "";
  background-image: url('./assets/degen age logo BNW.jpg');
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
} */

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  outline: none;
}

.blnk-modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

.fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, black);
}

.game-log::-webkit-scrollbar {
  display: none;
}

.shake {
  animation: shake 0.05s linear;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  50% {
    transform: translateX(12px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes hit-marker {
  0% {
    opacity: 100%;
    transform: translateY(0px);
  }
  100% {
    opacity: 0%;
    transform: translateY(-75px);
  }
}

@keyframes fade-in-slow {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float-small {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.rotate {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.nft-img-container {
  margin: 16px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1440px) {
  .primary-section {
    padding: 26px 160px;
  }

  .faq-container {
    padding: 100px;
  }

  .utility-section {
    display: flex;
    align-items: center;
    margin: 148px 0px;
  }

  .utility-section-inverted {
    display: flex;
    align-items: center;
    margin: 148px 0px;
    flex-direction: row-reverse;
  }

  .utility-left {
    width: 60%;
  }

  .utility-right {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

  .primary-section {
    padding: 26px 100px;
  }

  .utility-section {
    display: flex;
    align-items: center;
    margin: 148px 0px;
  }

  .utility-section-inverted {
    display: flex;
    align-items: center;
    margin: 148px 0px;
    flex-direction: row-reverse;
  }

  .utility-left {
    width: 60%;
  }

  .utility-right {
    width: 40%;
  }

  .faq-container {
    padding: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 925px){

  .primary-section {
    padding: 26px 100px;
  }

  .faq-container {
    padding: 50px;
  }

  .utility-section {
    display: flex;
    align-items: center;
    margin: 148px 0px;
  }

  .utility-section-inverted {
    display: flex;
    align-items: center;
    margin: 148px 0px;
    flex-direction: row-reverse;
  }

  .utility-left {
    width: 60%;
  }

  .utility-right {
    width: 40%;
  }
}

@media screen and (min-width: 925px) and (max-width: 1024px) {
  .primary-section {
    padding: 26px 100px;
  }

  .utility-section {
    display: flex;
    align-items: center;
    margin: 148px 0px;
  }

  .utility-section-inverted {
    display: flex;
    align-items: center;
    margin: 148px 0px;
    flex-direction: row-reverse;
  }

  .utility-left {
    width: 60%;
  }

  .utility-right {
    width: 40%;
  }
}

@media screen and (min-width: 615px) and (max-width: 925px) {
  .flex-grow {
    flex: 1 1 50%;
  }

  .video-container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .flex-grow {
    flex: 1 1 100%;
  }

  .spacing-medium {
    padding: 120px 10px;
  }

  .video-container {
    width: 100%;
  }
}
